* {
  font-family: Arial, Helvetica, sans-serif;
}

.game-square {
  margin: 5px;
  height: 75px;
  width: 75px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.3s;
}

#game {
  margin: auto;
  display: inline-block;
  position: relative;
  z-index: 0;
  overflow: auto;
  border: 5px solid rgb(0, 73, 141);
  border-radius: 10px;
}

#game-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.game-header {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.game-header p {
  position: relative;
  margin: 0px 20px;
  overflow: hidden;
}

#score {
  color: green;
}

#attempts {
  color: red;
}

.reset {
  padding: 20px;
  margin-bottom: 200px;
  text-align: center;
}

.row {
  background-color: rgb(53, 53, 53);
  float: left;
  overflow: auto;
}

.matched {
  opacity: 0.4;
  background-color: rgb(50, 50, 50) !important;
}

.inactive {
  background-color: rgb(150, 150, 150) !important;
  transition: 0.3s;
}

.finished {
  border: 2px solid white;
  pointer-events: none;
}

.match-made {
  overflow: hidden;
  color: white;
  position: absolute;
  font-size: 2px;
  top: 50%;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  animation-timing-function: linear;
}

@keyframes matchmade {
  0% {
    opacity: 0;
    font-size: 2px;
  }
  50% {
    opacity: 1;
    font-size: 20px;
  }
  100% {
    opacity: 0;
    font-size: 100px;
  }
}

.match-made-toast {
  animation-duration: 0.75s;
  animation-name: matchmade;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
}

.blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: red;
  opacity: 0;
  overflow: hidden;
}

.notification {
  align-content: center;
  position: absolute;
  text-align: center;
  color: rgb(194, 33, 33);
  z-index: 2;
  pointer-events: none;
  transition: 0.2s;
}

.notification h1 {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  transition: 0.5s;
}

.hidden {
  transform: scale(0.5, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.65s;
}

#winner button {
  padding: 5px;
  color: black;
  background-color: white;
  font-size: 18px;
  border: 1px solid black;
}

.winner {
  align-content: center;
  position: absolute;
  text-align: center;
  color: rgb(25, 128, 56);
  z-index: 2;
  transition: 0.2s;
}

.winner h1 {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  transition: 0.5s;
}
